body {
    background-color: #4c3e34;
}

#bg {
    /* Center it */
    display:flex;
    align-items: center;
    justify-content: center;
}

/* Fit image to screen, cuz rn its way too big */
img#hallway{
    position:relative;
    height:95vh;
    width:80vw;
}

#comboLock{
    position:absolute;
}
#comboLock > img{
    height:5vh;
    width:5vw;
    /* Puts the lock on the door properly */
    margin-bottom:15vh;
}

#clocks {
    position:absolute;
    left:0;
    display:flex;
    flex-direction: row;
}

#clockCircles_h, #clockCircles_l {

    height:10vh;
    width:10vw;

    border-radius: 50%;

    /* Will prolly change this soon maybe */
    border: 1vh solid black;
    margin-left:9vw;
}

/* Make this one slightly lower */
#clockCircles_l {
    margin-top:10vh;
}