body {
    /*background-color:maroon;*/
    background: rgb(106,76,46);
    background: linear-gradient(90deg, rgba(106,76,46,1) 50%, rgba(45,32,20,1) 51%);
}

/* Dude i just centered a div wtf */
#lock{

    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;

    display:flex;
    align-items: center;
    justify-content: center;
}

#combo1,#combo2,#combo3,#combo4{
    width:5em;
    height:20em;
    position:relative;
    margin-right: -30em;
    padding-right: 35em;
    padding-top: 5em;
}

#comboLock{
    position:absolute;
}