body {
    background-color: #643729;
    /*background: rgb(106,76,46);
    background: linear-gradient(90deg, rgba(106,76,46,1) 50%, rgba(45,32,20,1) 51%);*/
}

/* Dude i just centered a div wtf */
#lock{

    position: absolute;
    top:0vh;
    bottom:0;
    left:0;
    right:0;


    display:flex;
    align-items: center;
    justify-content: center;
}

#combo1,#combo2,#combo3,#combo4{
    width:3vw;
    /*height:20em;*/

    height:18vh;
    position:relative;
    /*margin-right: -30em;*/
    padding-right: 3vw;
    padding-top: 10vh;
}

#comboLock{
    position:absolute;
    /*So we fit on the screen without scollbars */
    height:80vh;
}

.backButton {
    background-color: bisque;
    padding: 1em;
    position:absolute;

    text-decoration: none;
    text-align: center;
    font-size: 2vh;

    border-radius: 1vh;
    bottom:0;
    left:0;
}
