body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('roomdesigns.png');
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  top: -30px;
}

.door {
  width: 500px;
  height: 630px;
  transition: transform 0.3s;
}

.door:hover {
  cursor: pointer;
}
